/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dashed green; */


}

/* Utils */

.wrapper {
    height: 100vh;

}


.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1440px;

}

.d-flex {
    display: flex;
}


.c-gray {
    color: var(--subtitles-color);
}

.c-white {
    color: white;
}


/* Utilities Col & Row */

[class^="col"] {
    padding: 1rem;

    /* border: 1px dashed yellow; */
}


.row {
    display: flex;
    margin: 0 -1rem;
}

.col-1 {
    width: calc(100% / 12 * 1);
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-12 {
    width: 100%;
}




/* Colors Palette */
:root {
    --nav-bg: #080b12;
    --main-card-bg: #141922;
    --aside-bg: #000000;
    --subtitles-color: #72757a;
    --hr: #adff2f;

}



/* Generics */

body {
    font-family: Helvetica, sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

img {
    max-width: 100%;
    vertical-align: middle;
}



li {
    list-style: none;
    color: white;


}

span {
    color: white;
}

i {
    color: white;
}

.icon-img {
    width: 1.5rem;
}


figcaption {
    text-align: center;

}


.img-circle {
    border-radius: 50%;
}


/* TOP */


.top {
    height: calc(100% - 70px);
    background-color: red;
    overflow: hidden;

    /* Aside */

    .sidebar {
        width: 230px;
        background-color: var(--aside-bg);
        padding: 0.5rem 1.5rem;
        flex-direction: column;
        justify-content: space-between;

        .side-top {


            #logo {
                width: 150px;
                padding: 1rem 0;
            }

            #logo-sm {
                display: none;
            }


            .icons {
                width: 1.5rem;
            }


            ul {

                padding: 0.5rem 0;


                li {

                    padding: 0.4rem 0;
                    font-size: 0.9rem;
                }
            }

            span {

                font-size: 1rem;

            }

            h5 {
                color: white;
            }

            .playlist {
                padding: 0.5rem 0;
                gap: 0.5rem;
                align-items: center;



                .fa-square-plus {
                    font-size: 2rem;
                    padding: 0.5rem 0.2rem;
                }

                ul {
                    li {

                        padding: 0.6rem;

                    }
                }

            }
        }

        .side-bottom {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .download {
                gap: 0.3rem;
                align-items: center;

                #download-img {
                    width: 12px;
                }
            }

            hr {
                width: 100%;
                text-align: center;
                margin: 0.5rem auto;
            }


            #user-img {
                background-color: var(--subtitles-color);
                color: white;
                border-radius: 50%;
            }

            span {
                font-weight: bold;
            }

        }


    }




    /* Main card */

    main {
        width: 100%;
        overflow-y: auto;
        background-color: var(--main-card-bg);


        .navbar {
            padding: 1rem;
            height: 80px;
            background-color: var(--nav-bg);
            position: sticky;
            top: 0;
            z-index: 10;
            justify-content: flex-end;

            #upgrade {
                padding: 0.5rem 2.5rem;
                border: 2px solid white;
                text-transform: uppercase;
                border-radius: 1.5rem;
                line-height: 1.8rem;
                font-size: 0.7rem;

            }

            #upgrade:hover {
                scale: (1.2);
                font-weight: 800;
                color: rgb(26, 224, 26);
                border: 2px solid rgb(19, 167, 19);

            }

        }

        .menu {
            padding: 1rem 0;
            justify-content: center;



            ul {
                justify-content: space-between;
                gap: 1.8rem;
                flex-wrap: wrap;



                li {

                    align-content: center;

                }

                a {
                    color: var(--subtitles-color);
                    text-transform: uppercase;
                    font-size: 1rem;
                    font-weight: bold;

                }

                a:hover {
                    color: white;
                }
            }

        }

        section {
            padding: 1.3rem;
            width: 100%;



            h3 {
                padding-bottom: 1rem;
            }

            figcaption {
                padding: 0.5rem 0;

                h4 {
                    font-size: 0.9rem;
                }

                span {
                    font-size: 0.6rem;
                }
            }


            .card-content {
                cursor: pointer;
                position: relative;
            }


            .card-player-hover {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 3.5rem;
                opacity: 0;

            }

            .card-content:hover img {
                opacity: 0.5;
                transition: 0.3s;
            }


            .card-content:hover .card-player-hover {
                opacity: 1;

            }

        }

    }

}


ul a:hover,
li:hover,
.sidebar span:hover {
    cursor: pointer;
    color: white;
}





/* BOTTOM */

.bottom {
    background: black;
    height: 70px;
    width: 100%;

    .player {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        background-color: #222;
        height: 100%;
        cursor: pointer;

        i:hover {
            transform: scale(1.3);
        }

        .player-left {
            align-items: center;
            gap: 1rem;
            width: 30%;


            #song {
                width: 45px;
                object-fit: cover;
            }

            h5 {
                font-size: 0.8rem;
            }

            span {
                font-size: 0.7rem;
                color: #b3b3b3;

            }

        }

        .player-left {

            .icons {
                gap: 0.6rem;
                margin-left: 1rem;
            }




        }



        .player-center {

            text-align: center;
            width: 40%;

            .controls {
                justify-content: center;
                gap: 1.5rem;
                margin-bottom: 0.3rem;
            }

            .play-icon {
                font-size: 1.3rem;
            }

            .progress {
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                font-size: 0.7rem;
                color: white;
            }

            .progress-bar {
                width: 100%;
                height: 4px;
                background-color: #555;
                border-radius: 2px;
                position: relative;
                top: 0;


            }

            .progress-level {
                width: 25%;
                height: 100%;
                background-color: white;
            }

            .progress-level:hover {
                background-color: rgb(154, 233, 27);





            }

            .dot {
                height: 8px;
                width: 8px;
                border-radius: 50%;
                background-color: white;
                position: absolute;
                top: 50%;
                left: 25%;
                transform: translate(-50%, -50%);
                opacity: 0;



            }

            .progress-level:hover .dot {
                opacity: 1;

            }

        }


        .player-right {
            align-items: center;
            gap: 1rem;
            min-width: 30%;
            justify-content: flex-end;
        }

        .volume-bar {
            width: 80px;
            height: 0.2rem;
            background-color: #555;
            border-radius: 2px;

        }

        .volume-level {
            width: 40%;
            height: 100%;
            background-color: white;
            position: relative;


            .dot {
                height: 7px;
                width: 7px;
                border-radius: 50%;
                background-color: white;
                position: absolute;
                top: 50%;
                left: 90%;
                transform: translate(-50%, -50%);
                opacity: 0;



            }




        }

        .volume-level:hover .dot {
            opacity: 1;
        }

    }



}








/* RESPONSIVE */

/* Responsive Tablet 768px */

@media screen and (max-width:768px) {




    /* Col-md */

    .row {
        flex-wrap: wrap;
    }


    .col-md-3 {
        width: calc(100% / 12 * 3);
    }

    main .menu {
        width: 90%;
        margin: 0 auto;
    }

}

/* Responsive Mobile S 639PX */

@media screen and (max-width:639px) {

    .bottom .player {
        width: 100%;

        .player-left {
            width: 30%;

            .icons {
                flex-wrap: wrap;
            }
        }

        .player-right {
            width: 30%;

        }

        .player-center {
            width: 40%;
            padding: 1rem;

            .controls {
                width: 100%;
            }

        }
    }

    /* Col-sm */

    .row {
        flex-wrap: wrap;
    }

    .col-sm-1 {
        width: calc(100% / 12 * 1);
    }

    .col-sm-2 {
        width: calc(100% / 12 * 2);
    }

    .col-sm-3 {
        width: calc(100% / 12 * 3);
    }

    .col-sm-4 {
        width: calc(100% / 12 * 4);
    }

    .col-sm-5 {
        width: calc(100% / 12 * 5);
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: calc(100% / 12 * 7);
    }

    .col-sm-8 {
        width: calc(100% / 12 * 8);
    }

    .col-sm-9 {
        width: calc(100% / 12 * 9);
    }

    .col-sm-10 {
        width: calc(100% / 12 * 10);
    }

    .col-sm-11 {
        width: calc(100% / 12 * 11);
    }

    .col-sm-12 {
        width: 100%;
    }

}

/* Responsive Mobile XS 568PX */


@media screen and (max-width: 568px) {
    .top .sidebar {
        width: 80px;
        align-items: center;
    }


    .top .sidebar span,
    .top .sidebar h5,
    .top .sidebar .playlist,
    .top .sidebar .playlist+ul,
    .top .sidebar .download span,
    .top .sidebar .user-profile span,
    .side-top #logo {
        display: none;
    }



    #logo-sm {
        width: 50px;
    }




    .top .sidebar img,
    .top .sidebar i,
    .top .sidebar .side-top #logo-sm {
        display: inline-block;
    }

    .col-sm-6 {
        width: 50%;
    }



    main .section {

        width: 100%;
    }



}